.bg-resident-evil {
    background-color: #900C45;
}

.field-error {
    color: red;
}

.hidden-input-field {
    display: none;
}

.hr-2 {
    height: 2px;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body, main {
    height: 100%;
    margin: 0;
    padding: 0;
}