<th:block th:fragment="navbar" xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <nav class="navbar navbar-expand-lg navbar-light bg-resident-evil">
        <a class="navbar-brand text-light" th:href="@{/}">Resident Evil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li sec:authorize="isAuthenticated()" class="nav-item active">
                    <a class="nav-link text-light" th:href="@{/home}">Home</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item active">
                    <a class="nav-link text-light" th:href="@{/login}">Login</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item active">
                    <a class="nav-link text-light" th:href="@{/register}">Register</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle text-light" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Viruses
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/viruses/show}">Show</a>
                        <a sec:authorize="hasAuthority('MODERATOR')" class="dropdown-item" th:href="@{/viruses/add}">Add</a>
                    </div>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item active">
                    <a class="nav-link text-light" th:href="@{/map}">Map</a>
                </li>
                <li sec:authorize="hasAuthority('ADMIN')" class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle text-light" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="adminDropdown">
                        <a class="dropdown-item" th:href="@{/admin/home}">Home</a>
                        <a class="dropdown-item" th:href="@{/users/all}">Users</a>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav ml-auto">
            <li sec:authorize="isAuthenticated()" class="nav-item active">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" class="nav-link border-0 bg-transparent text-light" th:value="Logout">
                </form>
            </li>
        </ul>
    </nav>
</th:block>