<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<th:block th:replace="fragments/navbar"></th:block>
<div class="jumbotron text-danger mt-2">
    <h1 class="text-center mt-5">Cars</h1>
</div>
<hr style="height: 2px;" class="bg-danger w-50">
<form class="form w-50 mx-auto" th:action="@{/cars/find/make}" th:method="POST">
    <div class="form-group w-50 mx-auto">
        <div class="d-flex justify-content-center">
            <label for="make">Car Make</label>
        </div>
        <div class="d-flex justify-content-center">
            <input type="text" id="make" placeholder="Enter car make..." name="make">
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-info">Find</button>
    </div>
</form>
</body>
</html>